*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: cursive;
}

body{
    background-color: rgba(202, 202, 202, .3);
}

h1 {
    font-size: 30px;
    cursor: pointer;
    letter-spacing: 5px;
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5px;
    width: 100%;
}

.wrapper {
    width: 60%;
    letter-spacing: 5px;
}

.wrapper ul li{
    list-style: none;
    height: 20px;
    font-size: 25px;
    cursor: pointer;
    width: 100%;
}

.wrapper ul ul {
    display: none;
}

.wrapper ul li:hover ul {
    display: block;
}

.wrapper ul ul ul {
    margin-left: -250px;
}

.menu{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: #333333;
    color: white;
    z-index: 1;
    height: 50px;
}


.gradient{
    margin: 0 0 20px 0;
    background: url("images/IMG_2246.JPG") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    width: 100%;
    height: 50vh;
    position: relative;
}

.gradient p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#para p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 40px;
    color: #333333;
    margin: 20px 10px;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.a{
    background: url("images/IMG_2164.JPG") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 1s linear;
}

.a:hover{
    opacity: .8;
    height: 200px;
}

.b{
    background: url("images/IMG_0417.JPG") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 1s linear;
}

.b:hover{
    opacity: .9;
    height: 200px;
}

.d{
    background: url("images/IMG_1403.JPG") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 1s linear;
}

.d:hover{
    opacity: .8;
    height: 200px;
}

.e{
    background: url("images/IMG_0505.JPG") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: .8;
    transition: 1s linear;
}

.e:hover{
    opacity: .8;
    height: 200px;
}

.f{
    background: url("images/IMG_0052.JPG") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 1s linear;
}

.f:hover{
    opacity: .8;
    height: 200px;
}

.g{
    background: url("images/IMG_1747.JPG") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 1s linear;
}

.g:hover{
    opacity: .8;
    height: 200px;
}

.h{
    background: url("images/IMG_3236.JPG") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 1s linear;
}

.h:hover{
    opacity: .8;
    height: 200px;
}

.i{
    background: url("images/IMG_2219.JPG") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 1s linear;
}

.i:hover{
    opacity: .8;
    height: 200px;
}

.j{
    background: url("images/IMG_0059.JPG") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 1s linear;
}

.j:hover{
    opacity: .8;
    height: 200px;
}

.k{
    background: url("images/IMG_2438.JPG") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 1s linear;
}

.k:hover{
    opacity: .8;
    height: 200px;
}

.l{
    background: url("images/IMG_2308.JPG") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 1s linear;
}

.l:hover{
    opacity: .8;
    height: 200px;
}

.m{
    background: url("images/IMG_1898.JPG") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 1s linear;
}

.m:hover{
    opacity: .8;
    height: 200px;
}

.container span{
    display: block;
    text-align: center;
    margin: 20px 0;
}

.gallery{
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    width: 400px;
    height: 400px;
    margin: 30px;
    overflow: hidden;
    position: relative;
}

.gallery span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gallery button{
    background-color: #999999;
    padding: 5px 20px;
    display: block;
    border: none;
    border-radius: 5px;
    position: absolute;
    bottom: 5px;
    margin: 0 42%;
}

.gallery button:hover{
    background-color: #c4c4c4;
    transition: 0.5s linear;
}

#load{
    width: 40px;
    display: none;
}

#load div{
    background: rgb(255, 45, 45);
    height: 2px;
    margin: 5px;
}

a {
    text-decoration: none;
    color: #ffffff;
}


@media screen and (max-width:1024px) {
    .wrapper {
        width: 50%;
    }
}

@media screen and (max-width: 900px){

    body {
        overflow-x: hidden;
    }

    .wrapper {
        width: 100%;
        position: absolute;
        top: 50px;
        background-color: #333333;
        transform: translateX(100%);
        transition: 0.3s ease-in;
    }

    .select {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 400px;
        background-color: #333333;
    }
    
    .wrapper ul ul li{
        list-style: none;
        font-size: 20px;
        cursor: pointer;
        display: none;
    }

    .wrapper ul li {
        width: 100%;
        font-size: 30px;
        height: 30px;
        transition: 0.3s ease-in;
    }

    .wrapper ul li:hover {
        transform: scale(1.3);
    }

    #load {
        display: block;
        position: absolute;
        top: 20px;
        right: 10px;
        cursor: pointer;
        transition: 0.5s ease-in;
    }

    .active {
        transform: translateX(0%);
    }

    .toggle .load1{
        transform: rotate(-45deg) translate(-5px,6px);
    }

    .toggle .load2{
        opacity: 0;
    }

    .toggle .load3{
        transform: rotate(45deg) translate(-5px,-6px);
    }
}
